h1{
    color:red;
}

h2{
    color:blue;
    grid-auto-flow: dense;
    outline: 2px;
    color: blue;
}
#heading-2{
    color:yellow;
}
.heading3{
    color:red;
}
.para{
    color:blue;
    border:2px;
    border-style: solid;

    padding:20px;
    border: 20 px;

    padding-right: 500px;
}

#navbar{
    border:3px double red;
    padding:50px;
    background-color: brown;
    text-align: center;
}
#navbar a{
    color:white;
    padding:20px;
    text-decoration: none;
}
#navbar a:hover{
    color:black;
    background-color: white;
}

body{
    margin:0px;
}

.card{
    border: 3px solid black;
    
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    
    border-radius: 15px;
    overflow: hidden;
    
    text-align: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.card button{
    color:red;
    text-align: center;
    padding:5px;
    border:5px;
}
.card img{
    width: 100%;
}



